extends ../../component/base.pug

block head
  title #{common.lang.WebTitle}
  meta(name="keyword" content=`${common.lang.HeadKeyWord}`)
  style.
    .page {
      max-width: 1200px;
      margin: 0 auto;
    }

    body {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
    }

block body
  div(style="width: 100%")
    .page(style='padding:20px')
      div!= `${common.lang.CONTACTS}`
  include ../../component/footer/footer.pug