meta(charset="UTF-8")
meta( content="yes" name="apple-mobile-web-app-capable") 
meta(content="yes" name="apple-touch-fullscreen")
meta(content="telephone=no,email=no" name="format-detection")
meta(name="keywords" content=`${common.lang.HeadKeyWord}`)
meta(name="description", content=`${common.lang.HeadDescContent}`)
meta(data-n-head="true" name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no")
link(rel="shortcut icon", href="/static/favicon.ico", type="image/x-icon")

